{% load static %}
{% load i18n %}
<div class="about-low-area section-padding30">
    <div class="container">
        <div class="about-low-area padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Title -->
                            <div class="section-tittle mb-35">
                                <span>{% trans 'About our company' %}</span>
                                <h2>{% trans 'Safe logistics and transport solutions.' %}</h2>
                            </div>
                            <p>{% trans 'about 1' %}</p>
                            <p>{% trans 'about 2' %}</p>
                            <a href="{% url 'about' %}" class="btn">{% trans 'Find out more about us' %}</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!-- About Images -->
                        <div class="about-img">
                            <div class="about-font-img">
                                <img src="{% static 'assets/img/xv.jpg' %}" alt="Транспортировка" style="max-width: 550px; border-radius: 30px; height: 580px; margin-left: 40px;" >
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>