{% load static %}
{% load i18n %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Transportation HTML-5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="{% static 'assets/img/favicon.ico' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
    
        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    
        <!-- Slider -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    </head>
    
<body>
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'assets/img/logo0.png' %}" alt="Logo">

            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <div class="header-area">
        <div class="main-header">
            <div class="header-bottom header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                 <a href="{% url 'base' %}">
                                     <img src="{% static 'assets/img/logo0.png' %}" style="max-width: 180px;" alt="Logo">
                                 </a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                 
                                <div class="main-menu d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">                                                                                          
                                            <li><a href="{% url 'base' %}">{% trans 'home' %}</a></li>
                                            <li><a href="{% url 'about' %}">{% trans 'about' %}</a></li>
                                            <li><a href="services.html">{% trans 'services' %}</a></li>                            
                                            <li><a href="contact.html">{% trans 'contacts' %}</a></li>
                                            <li><a href="{% url 'license' %}">{% trans 'license' %}</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-right-btn d-none d-lg-block ml-20">
                                    <a href="testimonial-form text-center" class="btn header-btn">{% trans 'send message' %}</a>
                                </div>
                            </div>
                        </div> 
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% block main %}

{% endblock main %}

{% block about %}

{% endblock about %}

<footer>
    <!--? Footer Start-->
    <div class="footer-area footer-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- footer Heading -->

                <!-- Footer Menu -->
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>{% trans 'COMPANY footer' %}</h4>
                                <ul>
                                    <li><a href="{% url 'about' %}">{% trans 'about footer' %}</a></li>
                                    <li><a href="{% url 'about' %}">{% trans 'compny footer' %}</a></li>
                                    <li><a href="{% url 'license' %}">{% trans 'license footer' %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>{% trans 'hour footer' %}</h4>
                                <ul>
                                    <li><a href="#">{% trans 'monday footer' %}</a></li>
                                    <li><a href="#">{% trans 'tuesday-Friday footer' %}</a></li>
                                    <li><a href="#">{% trans 'saturday footer' %}</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>{% trans 'RESOURCES' %}</h4>
                                <ul>
                                    <li><a href="{% url 'base' %}">{% trans 'home footer' %}</a></li>
                                    <li><a href="{% url 'about' %}">{% trans 'home about footer' %}</a></li>
                                    <li><a href="#">{% trans 'home services footer' %}</a></li>
                                    <li><a href="#">{% trans 'home contacts footer' %}</a></li>
                                    <li><a href="{% url 'license' %}">{% trans 'home license footer' %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="{% static 'assets/img/logo0.png' %}" style="max-width: 200px;" alt="Logo">
                                </a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">
                                        {% trans 'obout logistic' %}
                                    </p>
                                    
                                </div>
                            </div>
                            <!-- Footer Social -->
                            <div class="footer-social ">
                                <a href="https://web.telegram.org/k/#@Shaxzod_2003_06_21"><i class="fa-brands fa-telegram"></i></a>
                                <a href="https://www.instagram.com/lkw_service.uz/"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->

        </div>
    </div>
    <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
    


     <!-- JS here -->

     <script src="{% static '/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
     <!-- Jquery, Popper, Bootstrap -->
     <script src="{% static '/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
     <script src="{% static '/assets/js/popper.min.js' %}"></script>
     <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
     <!-- Jquery Mobile Menu -->
     <script src="{% static '/assets/js/jquery.slicknav.min.js' %}"></script>
 
     <!-- Jquery Slick , Owl-Carousel Plugins -->
     <script src="{% static '/assets/js/owl.carousel.min.js' %}"></script>
     <script src="{% static '/assets/js/slick.min.js' %}"></script>
     <!-- One Page, Animated-HeadLin -->
     <script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/animated.headline.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Nice-select, sticky -->
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>

<!-- contact js -->
<script src="{% static 'assets/js/contact.js' %}"></script>
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/mail-script.js' %}"></script>
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

     <!-- Jquery Plugins, main Jquery -->	
     <script src="{% static '/assets/js/plugins.js' %}"></script>
     <script src="{% static '/assets/js/main.js' %}"></script>
 
     <!-- Swiper JS -->
 
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
 
     <script>
         // Initialize Swiper
         var swiper = new Swiper('.swiper-container', {
             slidesPerView: 'auto',
             spaceBetween: 10,
             navigation: {
                 nextEl: '.swiper-button-next',
                 prevEl: '.swiper-button-prev',
             },
             loop: true, // Optional: Enables continuous loop mode
         });
 
         // Optional: Adding custom functionality to buttons if needed
         document.getElementById('prev-slide').addEventListener('click', function() {
             swiper.slidePrev();
         });
 
         document.getElementById('next-slide').addEventListener('click', function() {
             swiper.slideNext();
         });
     </script>
 
</body>
</html>

