{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block main %}
<main>

    <!--? slider Area Start-->
    <div class="slider-area">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9">
                            <div class="hero__caption text-left"> <!-- Убедитесь, что используется класс text-left -->
                                <h1>{% trans 'h1 n1' %} <span>{% trans 'for blue logistic' %}</span> {% trans 'h1 n2' %}!</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--  -->

    <!-- slider Area End-->
    <!--? our info Start -->
    <div class="our-info-area pt-70 pb-40" id="contacts" style="margin-bottom: 200px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-support"></span>
                        </div>
                        <div class="info-caption">
                            <p>{% trans 'Call us' %}</p>
                            <span>+998 91 409 44 44</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="info-caption">
                            <p>{% trans 'Open Hour' %}</p>
                            <span>{% trans 'Mon - Sat 9:00 AM - 6:00 PM' %}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-place"></span>
                        </div>
                        <div class="info-caption">
                            <p>{% trans 'Adderss' %}</p>
                            <span>{% trans "Bukhara Region, Bukhara District, Mahalla Do'stlik, Buyuk Ipak Yo'li" %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our info End -->
    <!--? Categories Area Start -->

<style>
    .section-padding30 {
        padding: 30px 0;
    }
</style>

<!-- Секция Азии -->


{% include 'includes/services_country.html' %}

    

<!-- About Area Start -->
{% include 'includes/about_section.html' %}
<!-- About Area End -->

    <!-- Team Ara End -->

{% include 'includes/testiminal.html' %}
    
    <!-- Testimonial End -->
    <!--? Blog Area Start -->
   
    <!-- Blog Area End -->
</main>
{% endblock main %}