{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block main %}
<main>

    <!--? slider Area Start-->
    <div class="slider-area">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-12">
                            <div class="hero__caption custom-caption text-left">
                                <h1 class="display-4">
                                    {% trans 'h1 n1' %} 
                                    <span class="text-danger">{% trans 'for blue logistic' %}</span> 
                                    {% trans 'h1 n2' %}!
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        /* Custom CSS to adjust vertical position */
        .custom-caption {
            margin-top: -430px; /* Adjust this value as needed */
        }

        /* Responsive adjustment */
        @media (max-width: 768px) {
            .custom-caption {
                margin-top: -200px; /* Adjust for mobile */
            }
        }

        </style>
    <!--  -->

    <!-- slider Area End-->
    <!--? our info Start -->
    <div class="our-info-area pt-70 pb-40" id="contacts" style="margin-bottom: 200px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-support"></span>
                        </div>
                        <div class="info-caption">
                            <p>{% trans 'Call us' %}</p>
                            <span>+998 91 409 44 44</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="info-caption">
                            <p>{% trans 'Open Hour' %}</p>
                            <span>{% trans 'Mon - Sat 9:00 AM - 6:00 PM' %}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-place"></span>
                        </div>
                        <div class="info-caption">
                            <p>{% trans 'Adderss' %}</p>
                            <span>{% trans "Bukhara Region, Bukhara District, Mahalla Do'stlik, Buyuk Ipak Yo'li" %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our info End -->
    <!--? Categories Area Start -->

<style>
    .section-padding30 {
        padding: 30px 0;
    }
</style>

<!-- Секция Азии -->

<h3></h3>

{% include 'includes/services_country.html' %}

    

<!-- About Area Start -->
{% include 'includes/about_section.html' %}
<!-- About Area End -->

    <!-- Team Ara End -->

    <div class="container" id="komanda">
        <h1 class="title text-center mb-5">Our team</h1> <!-- Added margin-bottom for spacing -->
    
        <div class="row d-flex justify-content-center"> <!-- Centered the content -->
            {% for item in comm %}
            <div class="col-12 col-sm-6 col-md-4 mb-4 d-flex justify-content-center"> <!-- Center the card horizontally -->
                <div class="card" style="width: 100%; max-width: 18rem;">
                    <img src="{{ item.img.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.contact }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
<br><br>
{% include 'contacts.html' %}

{% include 'includes/testiminal.html' %}
    


<br><br>

    <!-- Testimonial End -->
    <!--? Blog Area Start -->
   
    <!-- Blog Area End -->
</main>
{% endblock main %}