{% extends 'base.html' %}
{% load i18n %}
{% block main %}
    <div class="container my-5">
        <h1 class="mb-4">Лицензия на предоставление логистических услуг</h1>
        
        <div class="card">
            <div class="card-header">
                <h2 class="h4">Документ лицензии</h2>
            </div>
            <div class="card-body">
                <p class="mb-4">В этом разделе вы можете просмотреть или загрузить PDF-файл лицензии вашей компании. Мы заботимся о прозрачности и предоставляем все необходимые документы для вашей уверенности в нашей деятельности.</p>

                <!-- Встраивание PDF с улучшенным дизайном -->
                <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <embed src="{{ license.pdf.url }}" type="application/pdf" class="embed-responsive-item" />
                </div>

                <!-- Альтернативный вариант для скачивания -->
                <a href="{{ license.pdf.url }}" class="btn btn-primary" target="_blank">Скачать PDF лицензии</a>
            </div>
        </div>
    </div>
{% endblock %}
